{% extends 'create_base.html.twig' %}

{% block header %}
	<div class="header">Welcome {{ username }}!  <a href="{{ logout_path('main') }}">Sign-out</a></div>
{% endblock %}

{% block form %}
	<form action="{{ }}" method="post">
		<label>Last name</label><br/>
		<input type="text" name="lastname" value=""></input>
		<label>First name</label><br/>
		<input type="text" name="firstname" value=""></input>
		<label>Username</label><br/>
		<input type="text" name="username" value=""></input>
		<label>Password</label><br/>
		<input type="text" name="password" value=""></input>
	</form>
{% endblock %}