
.main{
	width: 960px;
}

.header{
	background-color: #D21717;
	min-height: 150px;
	width: 100%;
	
}


.body{
	width:100%;
	
}


.left-menu{
	background-color: #2E8B57;
	width: 320px;
	height: 200px;
	display: table-cell;
}

.content{
	background-color: #0033CC;
	width: 640px;
	height: 200px;
	display: table-cell;
}

.item-top{
	width: 100%;
	
}

.item-left{
	
	width: 320px;
	background-color: #FF9900;
	height: 100px;
	display: table-cell;
}

.item-right{
	
	width: 320px;
	background-color: #6633FF;
	height: 100px;
	display: table-cell;
}

.item-bottom{
	background-color: #0033CC;
	width: 640px;
	display: table-cell;
	min-height: 100px;
}

.footer{
	background-color: #A9A9A9;
	width: 100%;
	min-height: 100px;
	
}