{% extends 'projects-base.html.twig' %}

{% block taskboard %}
    <table class="taskboard">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Budget</th>
                <th>Tasks</th>
            </tr>
        </thead>

        <tbody>
           
                {% for key in projects|keys %}
                    <tr>
                        <td>{{ projects[key].getName() }}</td>
                        <td>{{ projects[key].getBudget() }}</td>
                        <td><a href="#">Assignments</a></td>
                    </tr>

                {% endfor %}
            

        </tbody>
    </table>
{% endblock %}	

{% block taskboard_extension %}
    <div class="taskboard-extension">
        <h5>Other Tasks</h5>
        <a href="{{ path('projects_create_get') }}">Create Project</a>
        <a href="{{ path('persons_create_get') }}">Create Person</a>
    </div>
{% endblock %}	

{% block stylesheets %}
    <style>
        .body{
            margin: 20px 0 0 0;
        }

        .header{
            margin: 0 0 0 80%;
            padding: 20px;
        }

        .header a{
            margin: 0 0 0 10px;
        }

        .taskboard{
            float: left;
            text-align: left;
            width: 45%;
            margin: 0 2.5%;
        }

        .taskboard-extension {
            float: right;
            display: inline;
            width: 45%;

        }

        .taskboard-extension *{
            display: block;
            width: 45%;
            margin: 2.5%;
        }

    </style>
{% endblock %}