<!DOCTYPE html>
<html>
<head>
	{% block stylesheets %} {% endblock %}
		{% block header %} {% endblock %}
		</head>
		<body>
			<h1> THE PROJECTOR </h1>
			<div class="body">
				{% block taskboard %} {% endblock %}
					{% block taksboard_extension %} {% endblock %}
					</div>	
				</body>

				</html>