
.main{
	width: 960px;
}


.body{
	width: 100%;
	
}


.header{
	background-color: 	#A9A9A9;
	width: 100%;
	min-height: 150px;
	
}

.left-menu{
	background-color: #D0B879;
	width: 160px;
	min-height: 200px;
	display: table-cell;
	position: relative;
	word-wrap: break-word; 
}

.box-upper-right{
	background-color: white;
	width: 30px;
	min-height: 30px;
	position: absolute; 
	top: 0;
	right: 0; 
}

.box-upper-left{
	background-color: white;
	width: 10px;
	min-height: 10px;
	position: absolute; 
	top: 0;
	left: 0; 
}

.box-lower-right{
	background-color: white;
	width: 10px;
	min-height: 10px;
	position: absolute; 
	bottom: 0;
	right: 0; 

}

.box-lower-left{
	background-color: white;
	width: 10px;
	min-height: 10px;
	position: absolute; 
	bottom: 0;
	left: 0; 
}

.content{
	background-color: #4B0082;
	width: 600px;
	min-height: 200px;
	display: table-cell;
}

.right-menu{
	background-color: #4169E1;
	width: 200px;
	min-height: 200px;
	display: table-cell;
	
}

.footer{
	background-color: #FF0000;
	width: 100%;
	min-height: 100px;
	clear: both;
}

.button-special {
	border: blue solid 1px;
	background-color: #FFA500;
    position: fixed;
    width: 50px;
    min-height: 30px;
    top: 160px;
    left: 940px;
}